<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>TODO AOI</h1>
    </header>
    <main>
        <div class="space"></div>
        <div class="container">
            <div class="todo_container">
                <div class="todo_box">
                    <div class="todo_head">
                        <p>To-do list</p> 
                        <button type="button" onclick="openAddForm()"> Add</button>
                    </div>
                    <div class="todo_list">
                        {% for todo in todos %}
                        <div class="todo"
                            data-id="{{ todo.id }}"
                            data-name="{{ todo.name }}" 
                            data-date="{{ todo.date }}" 
                            data-time="{{ todo.time }}" 
                            data-desc="{{ todo.description }}">

                            <div class="name">
                                {{ todo.name }}
                            </div>
                            <div class="date_time">
                                {{ todo.date }} {{ todo.time }}
                            </div>

                            <div class="btn">
                                <button type="button" onclick="openEditForm(this)">Edit</button>
                                <button type="button" onclick="showDesc(this)">Detail</button>

                                <form action="/delete" method="POST">
                                    <input type="hidden" name="todo_id" value="{{ todo.id }}">
                                    <button type="submit">Delete</button>
                                </form>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>    
            </div>
            <div class="edit_container" id="editContainer" style="display: none;">
                <div class="edit_box">
                    <form action="/edit" method="POST">

                        <input type="hidden" id="inputId" name="todo_id">

                        <div class="line">
                            <label> Name </label>
                            <input type="text" id="inputName" name="todo_name" placeholder="Masukkan nama todo">
                        </div>
                        <div class="line">
                            <label> Date </label>
                            <input type="text" id="inputDate" name="todo_date" placeholder="Masukkan tanggal kegiatan">
                        </div>
                        <div class="line">
                            <label> Time </label>
                            <input type="text" id="inputTime" name="todo_time" placeholder="Masukkan waktu kegiatan">
                        </div>
                        
                        <div class="line_desc">
                            <label> Description </label>
                            <textarea id="inputDesc" name="description"></textarea>
                        </div>

                        <div class="line_btn">
                            <button type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="desc_container" id="descContainer">
                {% if todos %}
                <div class="desc_box">
                    <div class="name" id="viewName">{{ todos[0].name }}</div>
                    <div class="date_time" id="viewDateTime">{{ todos[0].date }} {{ todos[0].time }}</div>
                    <div class="desc" id="viewDesc">{{ todos[0].description }}</div>
                </div>
                {% else %}
                <div class="desc_box">
                    <div class="name" id="viewName">Tidak ada todo</div>
                    <div class="date_time" id="viewDateTime">-</div>
                    <div class="desc" id="viewDesc">Tambahkan dahulu</div>
                </div>
                {% endif %}
            </div> 

            <div class="add_container" id="addContainer" style="display: none;">
                <div class="add_box">
                    <form action="/add" method="POST">

                        <input type="hidden" id="inputId" name="new_id">

                        <div class="line">
                            <label> Name </label>
                            <input type="text" name="new_name" placeholder="Masukkan nama todo">
                        </div>
                        <div class="line">
                            <label> Date </label>
                            <input type="text" name="new_date" placeholder="Masukkan tanggal kegiatan">
                        </div>
                        <div class="line">
                            <label> Time </label>
                            <input type="text" name="new_time" placeholder="Masukkan waktu kegiatan">
                        </div>
                        
                        <div class="line_desc">
                            <label> Description </label>
                            <textarea id="inputDesc" name="new_desc"></textarea>
                        </div>

                        <div class="line_btn">
                            <button type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="space"></div>
    </main>
    
    <script>
        const editContainer = document.getElementById('editContainer');
        const descContainer = document.getElementById('descContainer');
        const addContainer = document.getElementById('addContainer');

        function showDesc(btnElement) {
            const todoElement = btnElement.closest('.todo')

            document.getElementById('viewName').innerText = todoElement.dataset.name;
            document.getElementById('viewDateTime').innerText = todoElement.dataset.date + ' ' + todoElement.dataset.time;
            document.getElementById('viewDesc').innerText = todoElement.dataset.desc;

            editContainer.style.display = 'none';
            addContainer.style.display = 'none';
            descContainer.style.display = 'flex';
        }

        function openEditForm(btnElement) {
            const todoElement = btnElement.closest('.todo');
            
            document.getElementById('inputId').value = todoElement.dataset.id;
            document.getElementById('inputName').value = todoElement.dataset.name;
            document.getElementById('inputDate').value = todoElement.dataset.date;
            document.getElementById('inputTime').value = todoElement.dataset.time;
            document.getElementById('inputDesc').value = todoElement.dataset.desc;

            descContainer.style.display = 'none';
            addContainer.style.display = 'none';
            editContainer.style.display = 'flex';
        }

        function openAddForm() {
            descContainer.style.display = 'none';
            editContainer.style.display = 'none';
            addContainer.style.display = 'flex';
        }
    </script>
</body>
</html>